@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
}

/* Enter your styling here */
body {
    background-color: #f2f2f2;
    font-family: "Radio Canada", sans-serif;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    font-size: 50px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}

.row {
    border: 2px solid #000000;
    border-radius: 10px;
    height: 75px;
    width: 75px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    text-shadow: 1px 1px 2px #ffffff;
    margin: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.btn[disabled] {
    color: #000000;
    cursor: no-drop;
}

#result-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #000000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-width: 200px;
    margin-top: 20px;
    padding: 10px;
}

#result {
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
    font-size: 25px;
    margin: auto;
}

#reset-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#reset-btn {
    border: 2px solid #000000;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

#reset-btn:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
